<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="subscription" value="YOURSUBSCRIPTIONIDxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="tenant" value="YOURTENANTIDxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="client" value="YOURSERVICEPRINCIPALIDxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="key" value="YOURSERVICEPRINCIPALPASSWORDxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    
    <add key="managementURI" value="https://management.core.windows.net/" />
    <add key="baseURL" value="https://management.azure.com/" />
    <add key="authURL" value="https://login.windows.net/" />
    <add key="graphURL" value="https://graph.windows.net/" />

    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="YOURTENANTNAME.onmicrosoft.com" />
    <add key="ida:ClientId" value="YOURSERVICEPRINCIPALIDxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="ida:AudienceUri" value="https://graph.microsoft.com" />
    <add key="ida:ReplyUrl" value="https://localhost:5001" />
    <add key="ida:CertName" value="CN=GraphDaemonWithCert" />
    
    <add key="XAzureStorageCnx" value="DefaultEndpointsProtocol=https;AccountName=YOURSTORAGEACCOUNT;AccountKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="XRedisCnx" value="YOURREDISCACHExxxxxx.redis.cache.windows.net:6380,password=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx,ssl=True,abortConnect=False" />
    <add key="XEventHubCnx" value="Endpoint=sb://YOUREVENTHUBxxxxxxxxx.servicebus.windows.net/;SharedAccessKeyName=xxxxxxxxxx;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;EntityPath=xxxxxxxxx" />
    <add key="XServiceBusCnx" value="Endpoint=sb://YOURSERVICEBUSxxxxx.servicebus.windows.net/;SharedAccessKeyName=xxxxxxxxxx;SharedAccessKey=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx;EntityPath=xxxxxxxxx" />
    <add key="accountEndpoint" value="https://YOURCOSMOSDB.documents.azure.com:443/" />
    <add key="accountKey" value="YOURCOSMOSDBPRIMARYKEYxxxxxxxxxxxxxxxxxxxxxxxxx" />
    <add key="AppInsightsKey" value="YOURINSTRUMENTATIONKEYxxxxxxxx-xxxx-xxxx-xxxxx-xxxxxxxxxxx" />
  </appSettings>
</configuration>