@using Microsoft.AspNetCore.Components.Web
@namespace azurestream.blazor.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IoT Edge</title>
    <link rel="shortcut icon" href="@Url.Content("~/favicon.ico")" />
    <meta name="keywords" content="Cloud, Azure, Cloud Computing, Internet of Things, IoT, Big Data, Analytics, Automation, PowerShell, Internet-Connected Devices, IoT Edge, Process automation, Monitoring." />
    <meta name="description" content="FTA Data Engineering. We help customers unblock and accelerate deployments in Azure, reduce costs and properly develop their IoT ecosystems in Azure." />

    <base href="~/" />
    <link href="~/js-css/css/normalize.min.css" rel="stylesheet" />
    <link href="~/js-css/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Muli:300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" rel="stylesheet">

    <!-- Nucleo Icons -->
    <link href="~/js-css/css/nucleo-icons.css" rel="stylesheet" />
    <link href="css/site.css" rel="stylesheet" />

    <!-- Black Dashboard CSS -->
    <link href="azurestream.styles.css" rel="stylesheet" />
    <link href="~/js-css/css/black-dashboard.css" rel="stylesheet" />
    <link href="~/js-css/css/xslayout.css" rel="stylesheet" />

    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
