<footer class="footer">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item"><a routerLink="/contact" class="nav-link">Contact us</a></li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">Support</a>
      </li>
      <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link">About Us</a>
      </li>
    </ul>
    <div class="copyright">
      © 2022 made with <i class="tim-icons icon-heart-2"></i> by
      <a href="javascript:void(0)" target="_blank">FTA IoT Engineering</a>, Azure made easy.
    </div>
  </div>
</footer>