<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img src="images/logos/iotdashboard.svg" alt="FTA IOT Engineering" class="logo-blue" width="225" /></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <i class="tim-icons icon-align-center visible-on-sidebar-regular"></i>
        <i class="tim-icons icon-bullet-list-67 visible-on-sidebar-mini"></i>
    </button>
</div>

<div class="sidebar-menu">
    <div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
        <nav class="flex-column">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="tim-icons icon-chart-pie-36"></i><span class="oi" aria-hidden="true"></span> Home
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="devices">
                    <i class="tim-icons icon-molecule-40"></i> <span class="oi" aria-hidden="true"></span> IoT Hub Devices
                </NavLink>
            </div>
	     <div class="nav-item px-3">
                <NavLink class="nav-link" href="events">
                    <i class="tim-icons icon-sound-wave"></i> <span class="oi" aria-hidden="true"></span> IoT Hub Events
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="counter">
                    <i class="tim-icons icon-spaceship"></i> <span class="oi" aria-hidden="true"></span> Counter
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="fetchdata">
                    <i class="tim-icons icon-planet"></i> <span class="oi" aria-hidden="true"></span> Weather Data
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Owners">
                    <i class="tim-icons icon-single-02"></i> <span class="oi" aria-hidden="true"></span> Owners
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="Reports">
                    <i class="tim-icons icon-chart-bar-32"></i> <span class="oi" aria-hidden="true"></span> Reports
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
