<div class="jumbotron">
    <h1>Nodestream University</h1>

    <nav id="navjumbotron" class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigationContoso" aria-controls="navigationContoso" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navigationContoso" class="collapse navbar-collapse">
                <ul class="navigation-menu navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fishtank" asp-action="Index">Fish</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fishtank" asp-action="Feed">Fish</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fthistory" asp-action="GetWaterTemperatureChart">Fish</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fthistory" asp-action="GetFishMotionPercentageChart">Fish</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fthistory" asp-action="GetWaterOpacityPercentageChart">Fish</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="fishtank" asp-controller="fthistory" asp-action="GetLightIntensityLumensChart">Fish</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>
